@import "tailwindcss";

@theme {
  --color-primary:       #16A34A;
  --color-primary-dark:  #166534;
  --color-primary-light: #DCFCE7;
  --color-bg:            #F8FAFC;
}

body {
  background-color: #F8FAFC;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}